#text_id{
    margin-left: 70px;
}
body{
    background-color: gray;
}

p{
    text-align: center;
}

#rx1{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx2{
    color: white;
    font-size: large;
    padding-top: 10px;
}

#rx3{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx4{
    color: white;
    font-size: large;
    padding-top: 10px;
}

#rx5{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx6{
    color: white;
    font-size: large;
    padding-top: 10px;
}

#rx7{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx8{
    color: white;
    font-size: large;
    padding-top: 10px;
}

#rx9{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx10{
    color: white;
    font-size: large;
    padding-top: 10px;
}

#rx11{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx12{
    color: white;
    font-size: large;
    padding-top: 10px;
}

#rx13{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx14{
    color: white;
    font-size: large;
    padding-top: 10px;
}

#rx15{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx16{
    color: white;
    font-size: large;
    padding-top: 10px;
}

#rx17{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx18{
    color: white;
    font-size: large;
    padding-top: 10px;
}

#rx19{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx20{
    color: white;
    font-size: large;
    padding-top: 10px;
}

#rx21{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx22{
    color: white;
    font-size: large;
    padding-top: 10px;
}

#rx23{
    color: blue;
    font-size: large;
    padding-top: 10px;
}

#rx24{
    color: white;
    font-size: large;
    padding-top: 10px;
}




